.wrapper{
   width:300px;
   /*background-color: pink;*/
   border: 1px solid;
   border-radius: 5px;
   text-align: center;
   margin: 0 auto;
   
   }
   .comment-first{
      width: 160px;
      height:260px;
      background-color: orange;
      margin: 20px auto;
      font-size: 37px;
      border-radius: 50px;
      }
      
      .comment-second{
         width: 220px;
         height:220px;
         background-color: rgb(45, 247, 59);
         font-size: 35px;
      }